.srb-in-dp a{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff !important;
}
.srb-in-dp{
    padding: 10px 5px;
    display: flex;
    align-items: center;
}
.srb-in-dp div:nth-child(2){
    display: grid;
}
.srb-in-dp div:nth-child(2) span{
    font-size: 12px;
}
.srb-in-dp div:nth-child(1){
   width: 40px; 
}

.header-area .navbar-nav .ft-dd-menu li.ft-dd {
    position: relative;
    padding-bottom: 10px;
    z-index: 1;
    border-bottom: 1px solid #282375;
}

ul.ft-dd-menu {
    padding: 0 !important;
}

.header-area .navbar-nav .ft-dd-menu li.ft-dd:nth-last-child(1){
    border: none;
}
.coins{
    width: 25px;
}

.header-area .navbar-nav li .ft-dd-menu.subchild{
    max-height: 400px; 
    overflow-y:auto ;
}
 
.ft-dd-menu.subchild strong{
    width: 100%;
    display: block;
    background: #1d1353;
    text-align: center;
    padding: 5px;
    color: #fff;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .hny_topsa {
    height: 200px;
  }
  .all-crypto-wrapper.hny {
    height: 200px;
    overflow: hidden;
    background-color: #191d21;
  }
  .index_card {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  .green_s {
    display: flex;
    gap: 11px;
    color: green;
  }
  .red_s {
    display: flex;
    gap: 11px;
    color: red;
  }
  .index_card h3 {
    font-size: 16px;
    color: #e3e3e3;
  }
  .index_card h4 {
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
  }
  .altcoin-options-markets {
    text-align: center;
    padding: 3rem 0;
  }
  .text-center.hnt_sds h2 {
    color: white;
  }
  .text-center.hnt_sds {
    max-width: 50%;
    margin: auto;
  }